/*
  body,bg -> background-image: url(/assets/images/bg.png);
  backgrounds -> background-image: linear-gradient(to bottom, blue, #7070ff);

*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/assets/images/bg.png);
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
/* navbar */
nav {
  height: 50px;
  background-image: linear-gradient(to right, lightblue, transparent);
  display: flex;
  border-bottom: 3px solid white;
}

section {
  flex: 1;
  display: flex;
  max-height: 470px;
}

footer {
  height: 84px;
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
  flex: 1;
}

nav li {
  flex: 1;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: flex;
}

nav li:hover {
  background-image: linear-gradient(to right, darkblue, blue);
}

nav li.active {
  background-color: red;
  font-weight: bold;
}

nav li .group_close {
  width: 30px;
  color: red;
}

nav li .group_name {
  flex: 1;
}

.add_tab {
  width: 50px;
  background-image: linear-gradient(to right, darkblue, blue);
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

.friend {
  background-image: linear-gradient(to right, lightblue, #0e097b);
  padding-left: 10px;
  position: fixed;
  right: 0;
  padding-right: 15px;
  line-height: 18px;
  font-size: 18;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.friend-list {
  display: none;
  list-style: none;
  padding-right: 40px;
  font-size: 18;
  font-weight: bold;
}

.friend:hover .friend-list {
  display: block;
  cursor: pointer;
}

.friend-list li {
  border-bottom: 1px solid white;
  padding: 5px;
}

/* edições no modal */
.modal_bg {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  color: white;
}

.modal_area {
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-image: linear-gradient(to bottom, blue, #7070ff);
  border-radius: 5px;
  color: white;
  text-decoration: underline;
  text-emphasis: initial;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btnModal {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px;
  color: #000d44;
  font-weight: initial;
  border: 2px solid lightblue;
  margin-left: 5px;
}

#newGroupName {
  margin-left: 5px;
  font-size: 15px;
  margin-bottom: 3px;
}

.btnModal:hover {
  font-weight: bold;
}

/* fim do modal  */

#groupList button {
  display: block;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 40px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: darkblue;
}

#groupList button:hover {
  background-color: lightblue;
  text-overflow: initial;
  font-weight: bold;
}

.active_group {
  background-image: linear-gradient(to right, #7070ff, blue) !important;
  text-decoration: underline;
  font-weight: bold;
}

/* Estilos das mensagens */
.messages {
  flex: 1;
  overflow-y: auto;
}

.message {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-image: linear-gradient(to right, darkblue, blue);
  color: whitesmoke;
}
/* aba dos usuários online */
.user_list {
  width: 200px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  overflow-y: auto;
}

.user_list ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.user_list li {
  padding: 2px;
  border-bottom: 1px solid whitesmoke;
}

.user_list li small {
  color: lightgreen;
}
/* fim dos usuários online */
.m_info {
  margin-bottom: 5px;
  color: white;
}

.m_sender {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.m_date {
  font-size: 12px;
  color: #777;
  margin-left: 1px;
}

.m_body {
  font-size: 12px;
}

.m_body img {
  max-width: 200px;
  max-height: 200px;
}

/* fim dos mensagens */

.sender_area {
  height: 40px;
  border: 2px solid #999;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}
#sender_input {
  border: 0;
  font-size: 13px;
  color: #000;
  padding-left: 10px;
  outline: 0;
  flex: 1;
}

.sender_tools {
  height: 80px;
  display: flex;
}

.sender_tool {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  cursor: pointer;
}

.imgUploadBtn {
  background-color: #7070ff;
}

#sender_input_img {
  position: absolute;
  top: -99999999;
}

.progress {
  height: 10px;
  display: none;
}

.progressbar {
  height: 10px;
  background-color: red;
}

/* informações du usário */
.userinfo {
  color: white;
}

.userinfo a {
  text-decoration: none;
  color: whitesmoke;
}
